

.App {
  display: flex;
  text-align: left;
  flex-direction: column;
  color: white;
}



.App-header {
 margin-bottom: 10px;
 display: flex;
 
 flex-direction: row;
justify-content: space-between;
align-items: center;
  font-family: 'Dosis', sans-serif;
  background-color: rgba(3, 71, 72, 0.96);
  height: 150px;

  min-width: 100%; 
}

.App-title {
  font-size: 2em;
  padding-left: 20px;
}

.Icon-Link {
padding: 20px;
}
.Icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 25%;
}


@media(max-width: 600px) {
  .App-header{
  flex-direction: column;
  padding: 50px;
  }
  .App-title{
    padding: 0;
  }
  .Icon-Link{
  
  padding: 10px;  
  }
  .Icons {
    justify-content: center;
  }
}