

.App {
  display: flex;
  text-align: left;
  flex-direction: column;
  color: white;
}

.App-logo {
  animation: App-logo-spin 2s linear;
  height: 80px;
  
}

.App-header {
 margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
  background-color: rgba(3, 71, 72, 0.96);
  height: 150px;
  padding: 20px;
  
  min-width: 100%; 
}

.App-title {
  font-size: 1.5em;
}



